<h1>Listing organization_members</h1>

<table>
  <tr>
    <th>Organization</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organization_members.each do |organization_member| %>
  <tr>
    <td><%= organization_member.organization_id %></td>
    <td><%= organization_member.user_id %></td>
    <td><%= link_to 'Show', organization_member %></td>
    <td><%= link_to 'Edit', edit_organization_member_path(organization_member) %></td>
    <td><%= link_to 'Destroy', organization_member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization member', new_organization_member_path %>
