<h1>Purchases</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Table</th>
    <th>Sellprice</th>
    <th>Taxable</th>
  </tr>

<% @auction_items.each do |auction_item| %>
  <tr>
    <td><%= auction_item.name %></td>
    <td><%= auction_item.description %></td>
    <td><%= auction_item.table_id %></td>
    <td><%= auction_item.sellprice %></td>
    <td><%= auction_item.taxable %></td>

  </tr>
<% end %>
</table>

<br />

