<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

Members
<table>
<% @members.each do |member| %>
  <tr>
    <td><%= member.user.email %></td>
    <td><a href="fixme">Remove user</a></td>
  </tr>
<% end %>
</table>
<br>
<%= render :partial => "/organization_members/userjoin", :locals => {:organization_id => @organization.id } %>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
